CREATE DATABASE [HTShopDB]
GO
USE [HTShopDB]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/20/2021 9:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[IDCart] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[IDCart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDH]    Script Date: 12/20/2021 9:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDH](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SoDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 12/20/2021 9:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](80) NOT NULL,
	[AnhDM] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 12/20/2021 9:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[SoDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[DiaChiGH] [nvarchar](70) NOT NULL,
	[TongTien] [int] NOT NULL,
	[MaTK] [int] NULL,
	[TinhTrang] [int] NULL,
	[HinhThucTT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 12/20/2021 9:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[MaLH] [int] IDENTITY(1,1) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[DienThoai] [varchar](11) NOT NULL,
	[ThoiGianLamViec] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/20/2021 9:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaDM] [int] NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[GiaBan] [int] NOT NULL,
	[AnhSP] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
	[PhanTramKM] [int] NULL,
	[NgayTao] [datetime] NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/20/2021 9:02:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[DiaChiEmail] [nvarchar](50) NOT NULL,
	[MatKhau] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](40) NOT NULL,
	[VaiTro] [varchar](30) NULL,
	[GioiTinh] [nvarchar](4) NULL,
	[NgaySinh] [datetime] NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([IDCart], [MaTK], [quantity], [MaSP]) VALUES (20, 1, 1, 76)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDH] ON 

INSERT [dbo].[ChiTietDH] ([id], [SoDH], [MaSP], [SoLuong]) VALUES (10, 10, 81, 1)
INSERT [dbo].[ChiTietDH] ([id], [SoDH], [MaSP], [SoLuong]) VALUES (15, 12, 78, 1)
INSERT [dbo].[ChiTietDH] ([id], [SoDH], [MaSP], [SoLuong]) VALUES (21, 15, 75, 1)
SET IDENTITY_INSERT [dbo].[ChiTietDH] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [AnhDM]) VALUES (6, N'Laptop MacBook', N'logo-macbook-149x40.png')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [AnhDM]) VALUES (7, N'Laptop Asus1', N'logo-asus-149x40.png')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [AnhDM]) VALUES (8, N'Laptop HP', N'logo-hp-149x40-1.png')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([SoDH], [NgayDat], [DiaChiGH], [TongTien], [MaTK], [TinhTrang], [HinhThucTT]) VALUES (10, CAST(N'2021-12-06T20:32:35.623' AS DateTime), N'15 Khóm 1, Thị Trấn Mỹ Long, huyện Cầu Ngang, Trà Vinh', 109980000, 1, 3, 1)
INSERT [dbo].[DonHang] ([SoDH], [NgayDat], [DiaChiGH], [TongTien], [MaTK], [TinhTrang], [HinhThucTT]) VALUES (12, CAST(N'2021-11-15T18:59:36.227' AS DateTime), N'19 Đ.Nguyễn Hữu Thọ, Tân Hưng, Quận 7, Thành phố Hồ Chí Minh', 28990000, 2, 0, 0)
INSERT [dbo].[DonHang] ([SoDH], [NgayDat], [DiaChiGH], [TongTien], [MaTK], [TinhTrang], [HinhThucTT]) VALUES (15, CAST(N'2021-11-15T19:02:47.800' AS DateTime), N'19 Đ.Nguyễn Hữu Thọ, Tân Hưng, Quận 7, Thành phố Hồ Chí Minh', 29571300, 3, 0, 0)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LienHe] ON 

INSERT [dbo].[LienHe] ([MaLH], [DiaChi], [Email], [DienThoai], [ThoiGianLamViec]) VALUES (2, N'19 Đ.Nguyễn Hữu Thọ, Tân Hưng, Quận 7, Thành phố Hồ Chí Minh', N'HTShop@gmail.com', N'0987654321', N'Thứ 2 đến thứ 7: 8h đến 22h')
SET IDENTITY_INSERT [dbo].[LienHe] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [DiaChiEmail], [MatKhau], [HoTen], [VaiTro], [GioiTinh], [NgaySinh], [SoDienThoai], [TrangThai]) VALUES (1, N'admin@gmail.com', N'MTIzNDU2', N'Admin', N'Administrator', N'Nam', CAST(N'2000-09-16T00:00:00.000' AS DateTime), N'0813027001', 1)
INSERT [dbo].[TaiKhoan] ([MaTK], [DiaChiEmail], [MatKhau], [HoTen], [VaiTro], [GioiTinh], [NgaySinh], [SoDienThoai], [TrangThai]) VALUES (2, N'lamvanbao@gmail.com', N'MTIzNDU2', N'Lâm Văn bảo', N'User', N'Nam', CAST(N'2003-11-15T00:00:00.000' AS DateTime), N'0971647423', 1)
INSERT [dbo].[TaiKhoan] ([MaTK], [DiaChiEmail], [MatKhau], [HoTen], [VaiTro], [GioiTinh], [NgaySinh], [SoDienThoai], [TrangThai]) VALUES (3, N'user2@gmail.com', N'MTIzNDU2', N'Nguyễn Thị Hoài Thương', N'User', N'Nữ', CAST(N'2002-08-28T00:00:00.000' AS DateTime), N'0834645541', 0)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__79A7D016BA67ED9A]    Script Date: 12/20/2021 9:02:52 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[DiaChiEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__79A7D016CFA655ED]    Script Date: 12/20/2021 9:02:52 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[DiaChiEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_SanPham]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_TaiKhoan]
GO
ALTER TABLE [dbo].[ChiTietDH]  WITH CHECK ADD  CONSTRAINT [fkHoaDon1] FOREIGN KEY([SoDH])
REFERENCES [dbo].[DonHang] ([SoDH])
GO
ALTER TABLE [dbo].[ChiTietDH] CHECK CONSTRAINT [fkHoaDon1]
GO
ALTER TABLE [dbo].[ChiTietDH]  WITH CHECK ADD  CONSTRAINT [fkHoaDon2] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietDH] CHECK CONSTRAINT [fkHoaDon2]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
